<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Getting started with Lookyloo</title>
  <link rel="stylesheet" href="default.css">
</head>

<body>
	<div class="container">
    <h1>Welcome to Lookyloo!</h1>
    <br>

    <div>
      <p>
        <b>Disclaimer</b>: This extension is aimed for users of <a href="https://www.lookyloo.eu">Lookyloo</a>
        who have their own instance of the platform.
        It requires invasive  permissions and if used incorrectly, it may result in
        sharing cookies with third parties, potentially resulting in allowing them to login on websites
        without your consent.
        If you simply want to submit URLs to a lookyloo instance, you can give it a
        try on the <a href="https://lookyloo.circl.lu">demo instance</a>.
      </p>

      <br>

      <div>
        <p>
        If you understand the disclamer, and want to keep going, please click on the button below.
        <br>
        <br>
        <div>
          <button id="setup">I know what I'm doing.</button>
        <div>
        </p>

        <br>

        <p>
        Otherwise, click on the button below to uninstall the extension.
        <br>
        <br>
        <div>
          <button id="uninstall">Uninstall Lookyloo</button>
        </div>
        It will redirect you to the <a href="https://lookyloo.circl.lu">demo instance</a>,
        where you can safely capture an URL without risking to leak personal information.
        </p>
      </div>
    </p>

	</div>

  <script type="text/javascript" src="getting_started.js"></script>
</body>
</html>
